services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:{{ vars.version | default('latest') }}
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID={{ global.puid }}
      - PGID={{ global.pgid }}
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/sonarr/config:/config
      - /tv:/tv
      - /downloads:/downloads
    networks:
      - proxy
    labels:
{% for k, v in traefik_labels(8989).items() %}
      - "{{ k }}={{ v }}"
{% endfor %}

networks:
  proxy:
    external: true
