services:
  dozzle:
    image: amir20/dozzle:{{ vars.version | default('latest') }}
    container_name: dozzle
    restart: unless-stopped
    environment:
      - TZ={{ global.timezone }}
{% if vars.filter | default('') %}
      - DOZZLE_FILTER={{ vars.filter }}
{% endif %}
{% if security.socket_proxy %}
      - DOCKER_HOST=tcp://socket-proxy:2375
{% endif %}
{% if not security.socket_proxy %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
    networks:
      - proxy
{% if security.socket_proxy %}
      - socket_proxy
{% endif %}

networks:
  proxy:
    external: true
{% if security.socket_proxy %}
  socket_proxy:
    external: true
{% endif %}
