services:
  homepage:
    image: ghcr.io/gethomepage/homepage:{{ vars.version | default('latest') }}
    container_name: homepage
    restart: unless-stopped
    environment:
      - TZ={{ global.timezone }}
{% if security.socket_proxy %}
      - DOCKER_HOST=tcp://socket-proxy:2375
{% endif %}
    volumes:
      - {{ global.data_dir }}/homepage/config:/app/config
{% if not security.socket_proxy %}
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
    networks:
      - proxy
{% if security.socket_proxy %}
      - socket_proxy
{% endif %}

networks:
  proxy:
    external: true
{% if security.socket_proxy %}
  socket_proxy:
    external: true
{% endif %}
