services:
  dasherr:
    image: ghcr.io/erohtar/dasherr:{{ vars.version | default('latest') }}
    container_name: dasherr
    restart: unless-stopped
    environment:
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/dasherr/settings:/www/public/settings
    networks:
      - proxy
    labels:
{% for k, v in traefik_labels(3000).items() %}
      - "{{ k }}={{ v }}"
{% endfor %}

networks:
  proxy:
    external: true
