services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:{{ vars.version | default('latest') }}
    container_name: prowlarr
    restart: unless-stopped
    environment:
      - PUID={{ global.puid }}
      - PGID={{ global.pgid }}
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/prowlarr/config:/config
    networks:
      - proxy
    labels:
{% for k, v in traefik_labels(9696).items() %}
      - "{{ k }}={{ v }}"
{% endfor %}

networks:
  proxy:
    external: true
