services:
  readarr:
    image: lscr.io/linuxserver/readarr:{{ vars.version | default('latest') }}
    container_name: readarr
    restart: unless-stopped
    environment:
      - PUID={{ global.puid }}
      - PGID={{ global.pgid }}
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/readarr/config:/config
      - /books:/books
      - /downloads:/downloads
    networks:
      - proxy

networks:
  proxy:
    external: true
