services:
  crowdsec:
    image: crowdsecurity/crowdsec:{{ vars.version | default('latest') }}
    container_name: crowdsec
    restart: unless-stopped
    environment:
      - TZ={{ global.timezone }}
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve
      - CUSTOM_HOSTNAME=crowdsec
    volumes:
      - {{ global.data_dir }}/crowdsec/config:/etc/crowdsec
      - {{ global.data_dir }}/crowdsec/data:/var/lib/crowdsec/data
      - {{ global.data_dir }}/traefik/logs:/var/log/traefik:ro
    networks:
      - proxy
{% if security.socket_proxy %}
      - socket_proxy
{% endif %}

networks:
  proxy:
    external: true
{% if security.socket_proxy %}
  socket_proxy:
    external: true
{% endif %}
