services:
  radarr:
    image: lscr.io/linuxserver/radarr:{{ vars.version | default('latest') }}
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID={{ global.puid }}
      - PGID={{ global.pgid }}
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/radarr/config:/config
      - /movies:/movies
      - /downloads:/downloads
    networks:
      - proxy

networks:
  proxy:
    external: true
