services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:{{ vars.version | default('latest') }}
    container_name: duplicati
    restart: unless-stopped
    environment:
      - PUID={{ global.puid }}
      - PGID={{ global.pgid }}
      - TZ={{ global.timezone }}
      - SETTINGS_ENCRYPTION_KEY=${DUPLICATI_SETTINGS_ENCRYPTION_KEY}
    volumes:
      - {{ global.data_dir }}/duplicati/config:/config
      - /backups:/backups
      - /source:/source:ro
    networks:
      - proxy

networks:
  proxy:
    external: true
