services:
  headscale:
    image: headscale/headscale:{{ vars.version | default('latest') }}
    container_name: headscale
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
    environment:
      - TZ={{ global.timezone }}
    volumes:
      - {{ global.data_dir }}/headscale/config:/etc/headscale
      - {{ global.data_dir }}/headscale/data:/var/lib/headscale
    command: serve
    networks:
      - proxy

networks:
  proxy:
    external: true
